main {
    background: rgb(60,0,150);
    background: linear-gradient(0deg, rgba(60,0,150,1) 0%, rgba(0,106,150,1) 51%, rgba(0,150,148,1) 100%);
}

h1 {
    font-family: 'Courier New', Courier, monospace;
    color: green;
}